$mainRed: #c40d13;
$mainBlack: #242424;
$mainWidth: 70%;
$maxWidth: 1100px;
* {
    padding: 0;
    margin: 0;
}

#dialog {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

li {
    list-style: none;
}
li,
a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}
