.banner {
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  background-size: 6000px;
  background-position: center center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &__box {
    position: relative;
    width: $contentWidth;
    margin: 0 auto;
    &__image {
      width: 100%;
      height: 270px;
      overflow: hidden;
      &--info {
        width: 730px;
      }
      &__arrow {
        position: absolute;
        top: 50%;
        padding: 10px 0;
        color: #555;
        font-size: 40px;
        cursor: pointer;
        transform: translateY(-50%);
      }
      &__arrow:hover {
        background-color: #000;
        color: #fff;
      }
      &__arrowLeft {
        left: -50px;
      }
      &__arrowRight {
        right: -50px;
      }
    }
    &__recommend {
      position: absolute;
      top: 0;
      right: 0;
      height: 252px;
      height: 270px;
      overflow: hidden;
    }
  }
}
